@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro');

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    width: 900px;
    margin: 0 auto;
    position: relative;
    background-color: #E7E7E7;
}

header#mainHeader {
    background: url(../images/fleudelis.png) no-repeat;
    text-align: center;
    height: 200px;
    margin: 10px 0;
}

header#mainHeader h1 {
    padding-top: 40px;
    font-size: 4em;
    font-weight: bold;
    color: #CE1126;
}

header#mainHeader p {
    font-size: 2em;
    font-weight: bold;
    font-style: italic;
    margin-top: 10px;
    color: #003F87;
}

main {
    padding-top: 10px;
    clear: both;
    border-top: 2px solid darkgray;
}

.flash_message {
    width:100%;
    text-align:center;
    padding:5px;
    position:fixed;
    top:0;
    left:0;
    background-color:yellow;
    font-weight:bold;
}

/** -------------------------
 *  SHOW CAMPGROUND STYLES
 **/
#campgrounds h1 {
    font-size: 1.2em;
    font-weight: bold;
    color: #CE1126;
}

#campgrounds h2 {
    font-size: 1em;
    font-weight: bold;
    color: #003F87;
}

div#campgrounds {
    background-color: white;
    border: 1px solid darkgray;
    border-radius: 1em;
    padding: 1em 3em;
    display: inline-block;
    float: left;
}
div#details {
    clear: both;
    display: inline-block;
}

div#campgrounds h1 {
    border-bottom: 1px solid black;
}

/** -------------------------
 *  CREATE CAMPGROUND STYLES
 **/
form div {
    margin: 20px 0;
}

form div label {
    font-size: 1.2em;
    font-weight: bold;
    color: #003F87;
}

em {
    color: #CE1126;
}

input[type="text"], textarea {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}


input, select, textarea {
    font-size: 1.2em;
    padding: 3px;
    font-family: 'Anonymous Pro', monospace;
}

input[type="checkbox"] {
  vertical-align: middle;
  position: relative;
  bottom: 3px;
}

input[name="name"], input[name="address"] {
    width: 900px;
}

label[for="description"] {
    width: 900px;
    display: inline-block;
}

textarea[name="description"] {
    width: 900px;
    height: 100px;
    resize: none;
    display: inline-block;
}

label[for="campsites"], label[for="fees"] {
    display: inline-block;
    margin-right: 5px;
}

input[name="campsites"], input[name="fees"] {
    width: 75px;
    display: inline-block;
    margin-left: 5px;
}

input[name="restrooms"], label[for="fees"] {
    margin-left: 50px;
    display: inline-block;
}

label[for="city"], input[name="city"] {
    width: 397px;
    display: inline-block;
}

label[for="state"], select[name="state"] {
    width: 275px;
    margin-left: 50px;
    display: inline-block;
}

label[for="zipcode"], input[name="zipcode"] {
    width: 120px;
    margin-left: 50px;
    display: inline-block;
}
