html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

#campmonkey header#mainHeader {
    background: url(/images/tent3.jpg) no-repeat;
    background-position: right center;
    margin: 0 auto;
    height: 250px;
    overflow: auto;
}

#campmonkey header#mainHeader #mainHeaderText {
    text-align: center;
    display: inline-block;
    left: p;
    height: 100%;
    padding: 25px 0px;
}

#campmonkey header#mainHeader h1 {
    color: #ffee44;
    /*#f5023f;*/
    font-size: 5em;
    font-weight: bold;
}

#campmonkey header#mainHeader p {
    font-size: 2em;
    font-weight: bold;
    font-style: italic;
    color: #FFEE99;
    padding: .2em;
}

#campmonkey main>p {
    background-color: #776644;
    color: white;
    padding: 1em;
    font-size: 1.3em;
}

#campmonkey #campgrounds {
    /* Chrome, Safari, Opera */
    -webkit-column-count: 3;
    /* Firefox */
    -moz-column-count: 3;
    column-count: 3;
    padding-bottom: 2em;
    margin-bottom: 1em;
    border-bottom: 1px solid #776644;
}

#campmonkey i.fa-plus-circle, #campmonkey i.fa-pencil-square-o, i.fa-minus-circle {
    color: red;
    font-size: 2rem;
    padding: 0 20px;
}

#campmonkey #campgrounds li {
    margin: 1em 0;
    list-style: none;
}

#campmonkey i.fa-tree {
    color: #228b22;
}

#campmonkey #campgrounds a {
    margin: 1em;
    text-decoration: none;
    color: #99aabb;
}

#campmonkey #campgrounds a.active {
    margin: 1em;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1em;
    color: white;
}

#campmonkey h2 {
    color: #ffee44;
    font-size: 1.8em;
}

#campmonkey #details h2 {
    color: #ffee44;
    font-size: 3em;
    text-align: center;
}

#campmonkey #details {
    float: left;
    width: 60%;
    text-align: left;
    border-right: 1px solid #776644;
}

#campmonkey #details h3, #campmonkey #reviews .review h3 {
    font-size: 1.3em;
    font-weight: bold;
    color: #ccbb55;
    margin-left: 1.7em;
}

#campmonkey #details p, #campmonkey #reviews .review p {
    font-size: 1.1em;
    color: white;
    margin-left: 2.1em;
    padding-bottom: 1.5em;
}

#campmonkey #reviews .review em {
    font-size: .9em;
    color: #DDD;
    margin-left: 2.5em;
    padding-bottom: 1.5em;
}

#campmonkey #details div {}

#campmonkey #reviews {
    float: right;
    width: 35%;
}

#campmonkey #reviews .review {
    padding-top: .1em;
    margin: 2em 0;
    background-color: #776644;
    border-radius: .5em;
}

footer {
    clear: both;
    margin-bottom: 2em;
}
