@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro|Maitree');
html {
    box-sizing: border-box;
    height: 100%;
    min-width: 900px;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0 auto;
    position: relative;
    height: 100%;
    /*font-family: 'Anonymous Pro', monospace;
    font-family: 'Maitree', serif;*/
}

.padded {
    padding: 15px 25px;
}

header#mainHeader {
    background: url(../images/fleurdelis.png) no-repeat;
    text-align: center;
    height: 150px;
    padding: 10px 0;
    clear: both;
}

header#mainHeader h1 {
    padding-top: 10px;
    font-size: 4em;
    font-weight: bold;
    color: #CE1126;
    text-shadow: 1px 1px #000;
}

header#mainHeader p {
    font-size: 2em;
    font-weight: bold;
    font-style: italic;
    margin-top: 10px;
    color: #003F87;
}

.login {
    float: right;
}

.flash_message {
    width: 100%;
    text-align: center;
    padding: 10px;
    float: left;
    background-color: yellow;
    font-weight: bold;
    margin-bottom: 10px;
}

main {
    clear: both;
}

main>p {
    font-size: 1.2em;
    padding: 20px;
    margin: 10px 0 20px 0;
    border: 2px solid darkgray;
    background-color: lightblue;
    border-radius: 0.5em;
}


/** -------------------------
 *  CAMPGROUND LIST / NAVIGATION
 **/

#campgrounds {
    background-color: lightblue;
    border: 1px solid darkgray;
    border-radius: .5em;
    padding: 1em 1em;
    float: left;
    width: 300px;
}

#campgrounds h1, #reviews h1 {
    font-size: 1.2em;
    font-weight: bold;
    color: #CE1126;
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
    border-bottom: 1px solid black;
}

#campgrounds h1 i, #reviews h1 i {
    color: #CE1126;
}

#campgrounds li {
    margin: 1em 0;
}

#campgrounds li i {
    color: #003F87;
}

#campgrounds a {
    margin: 1em;
    font-size: 1em;
    color: #003F87;
    text-decoration: none;
}

#campgrounds a.active {
    font-weight: bold;
}


/** -------------------------
 *  CAMPGROUND DETAILS
 **/

#details {
    margin-left: 320px;
    margin-right: 320px;
    padding: 0.2em 1em;
}

#details h1 {
    font-size: 2em;
    color: #CE1126;
    text-shadow: 1px 1px #000;
}

#details h2 {
    font-weight: bold;
    color: #003F87;
    font-size: 1.2em;
    margin-bottom: .5em;
}

#details div {
    margin-top: 1.5em;
}

#reviews {
    float: right;
    width: 400px;
    background-color: lightgreen;
    border: 1px solid darkgray;
    border-radius: 1em;
    padding: 1em 1em;
}

#reviews .review {
    margin: 1.5em 0;
}

#reviews .review h2 {
    color: #003F87;
    font-weight: bold;
}

#reviews .review em {
    font-style: italic;
    color: #003F87;
}


/** -------------------------
 *  CREATE CAMPGROUND STYLES
 **/

form div {
    margin: 20px 0;
}

form div label {
    font-size: 1.2em;
    font-weight: bold;
    color: #003F87;
}

em {
    color: #CE1126;
}

input[type="text"], textarea {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

input, select, textarea {
    font-size: 1.2em;
    padding: 3px;
    font-family: 'Anonymous Pro', monospace;
}

input[type="checkbox"] {
    vertical-align: middle;
    position: relative;
    bottom: 3px;
}

input[name="name"], input[name="address"] {
    width: 900px;
}

label[for="description"] {
    width: 900px;
    display: inline-block;
}

textarea[name="description"] {
    width: 900px;
    height: 100px;
    resize: none;
    display: inline-block;
}

label[for="campsites"], label[for="fees"] {
    display: inline-block;
    margin-right: 5px;
}

input[name="campsites"], input[name="fees"] {
    width: 75px;
    display: inline-block;
    margin-left: 5px;
}

input[name="restrooms"], label[for="fees"] {
    margin-left: 50px;
    display: inline-block;
}

label[for="city"], input[name="city"] {
    width: 397px;
    display: inline-block;
}

label[for="state"], select[name="state"] {
    width: 275px;
    margin-left: 50px;
    display: inline-block;
}

label[for="zipcode"], input[name="zipcode"] {
    width: 120px;
    margin-left: 50px;
    display: inline-block;
}

#footer {
    clear: both;
}
